@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .record{
        @apply w-1/6
    }
    .headItem{
        @apply w-1/6 border-2 border-black text-white
    }
    .recordItem{
        @apply w-1/4 text-center border-r-2 border-stone-500
    }
    .gridLayout{
        @apply grid m-5
    }
    .buttonsPrimary{
        @apply hover:bg-primary-300 bg-primary-400 rounded-lg text-center text-white drop-shadow-lg
    }
    .formField{
        @apply grid w-full
    }
}
@media (max-width: 600px) {
    .grid-cols-2 {
      grid-template-columns: 1fr; /* Change to a single column */
    }
  
    .ml-10 {
      margin-left: auto;
      margin-right: auto; /* Center the image horizontally */
    }
    .text-left{
        text-align: center;
    }
  }

  .fontLink{
    font-family: "Playfair Display";
  }